---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="bold-1 text-xl">
    <h2>
      <strong class="text-foreground"
        >À propos<img
          src="/icons/aboutme.png"
          alt="About Me emoji"
          class="mb-2 ml-2 inline-block h-10 w-10"
        /></strong
      >
    </h2>
  </div>
  <hr />
  <div class="my-3 flex flex-col gap-2">
    <p class="text-sm font-light">
      Mes principaux outils de développement sont :
      <ul class="flex list-none flex-col gap-2 pt-1">
        <li class="flex items-center gap-2">
          <img src="/logos/react.png" alt="React logo" class="h-8 w-8" />React
        </li>
        <li class="flex items-center gap-2">
          <img src="/logos/vue.png" alt="Vue.js logo" class="h-8 w-8" />Vue.js
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/logos/nodejs.png"
            alt="Node.js logo"
            class="h-8 w-8"
          />Node.js
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/logos/three.png"
            alt="Three.js logo"
            class="h-8 w-8"
          />Three.js
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/logos/mongodb.png"
            alt="MongoDB logo"
            class="h-8 w-8"
          />MongoDB
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/logos/docker.png"
            alt="Docker logo"
            class="h-8 w-8"
          />Docker
        </li>
      </ul>
    </p>
  </div>
  <hr />
  <p class="mt-3 text-sm font-light">Outre la programmation :</p>
  <ul class="mt-2 grid grid-cols-2 gap-4">
    <li class="flex items-center gap-2">
      <img
        src="/logos/muscu.png"
        alt="Musculation logo"
        class="h-8 w-8"
      />Muscu.
    </li>
    <li class="flex items-center gap-2">
      <img
        src="/logos/callisthenie.png"
        alt="Docker logo"
        class="h-8 w-8"
      />Callist.
    </li>
    <li class="flex items-center gap-2">
      <img src="/logos/boxe.png" alt="Boxe logo" class="h-8 w-8" />Sports combat
    </li>
    <li class="flex items-center gap-2">
      <img src="/logos/bourse.png" alt="Bourse logo" class="h-8 w-8" />Bourse
    </li>
  </ul>
</Card>
