---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="bold-1 text-xl">
    <h2>
      <strong
        >About me<img
          src="/icons/aboutme.png "
          alt="About Me emoji"
          class="mb-2 ml-2 inline-block h-10 w-10"
        /></strong
      >
    </h2>
  </div>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      My primary tools of choice includes:
      <ul class="flex list-none flex-col gap-2 pt-1">
        <li class="flex items-center gap-2">
          <img src="/logos/react.png" alt="React logo" class="h-8 w-8" />React
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/logos/astro.png"
            alt="Astro logo"
            class="h-8 w-8"
          />Astro.js
        </li>
        <li class="flex items-center gap-2">
          <img src="/logos/vue.png" alt="Vue.js logo" class="h-8 w-8" />Vue.js
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/logos/nodejs.png"
            alt="Node.js logo"
            class="h-8 w-8"
          />Node.js
        </li>
        <li class="flex items-center gap-2">
          <img
            src="/logos/three.png"
            alt="Three.js logo"
            class="h-8 w-8"
          />Three.js
          <li class="flex items-center gap-2">
            <img
              src="/logos/mongodb.png"
              alt="MongoDB logo"
              class="h-8 w-8"
            />MongoDB
          </li>
          <li class="flex items-center gap-2">
            <img
              src="/logos/postgresql.png"
              alt="PostgreSQL logo"
              class="h-8 w-8"
            />PostgreSQL
          </li>
        </li>
      </ul>
    </p>
    <p class="mt-4 text-sm font-light">
      Beyond coding, I am passionate about art, video games and financial
      markets.
    </p>
  </div>
</Card>
