---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="bold-1 mb-2 text-xl">
    <h2 class="text-foreground">
      <strong>Citation</strong>
      <img
        src="/icons/citation.png"
        alt="Citation emoji"
        class="mb-2 ml-1 inline-block h-9 w-9"
      />
    </h2>
  </div>
  <hr />
  <div class="flex flex-grow flex-col justify-between">
    <blockquote class="mt-6 border-l-2 pl-6 italic">
      "La meilleure publicité, c'est un client satisfait."
    </blockquote>
    <p class="mt-4 text-xs">- Bill Gates</p>
  </div>
</Card>
