---
import { File } from 'lucide-react'
import Card from '../Card.astro'
import { Button } from '../ui/button'

const PDF = '/CV_AG_2025.pdf'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="bold-1 text-xl">
    <h2>
      <strong class="text-foreground"
        >CV <img
          src="/icons/cv.png"
          alt="CV emoji"
          class="mb-2 inline-block h-10 w-10"
        /></strong
      >
    </h2>
  </div>
  <hr />
  <div class="mt-4 flex w-full justify-center">
    <div
      class="card card-compact md:w-112 lg:w-128 w-96 gap-2 border-[oklch(var(--p))] transition-all"
    >
      <figure>
        <object data={PDF} type="application/pdf" width="100%" height="250px"
        ></object>
      </figure>
      <div class="mt-4 flex flex-col gap-2">
        <p class="text-sm text-muted-foreground">
          Consultez et téléchargez mon CV en cliquant sur le bouton ci-dessous.
        </p>
        <div class="card-actions mt-6 flex w-full items-center justify-center">
          <a target="_blank" href={PDF}>
            <Button variant={'default'}>
              Télécharger le CV
              <File />
            </Button>
          </a>
        </div>
      </div>
    </div>
  </div>
</Card>
