---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="bold-1 text-xl">
    <h2>
      <strong class="text-foreground"
        >Experience<img
          src="/icons/experience.png "
          alt="About Me emoji"
          class="mb-2 ml-2 inline-block h-10 w-10"
        /></strong
      >
    </h2>
  </div>
  <hr />
  <!-- <div class="mt-2 space-y-4">
    {
      EXPERIENCE.slice(0, 3).map((exp) => (
        <div>
          <h3 class="text-lg font-semibold">{exp.position}</h3>
          <a class="text-sm text-primary" href={exp?.link ?? ''}>
            {exp.company}
          </a>
          <p class="text-sm text-gray-600">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
    <a href="/work">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div> -->
  <div class="mt-3 space-y-4">Soyez les premiers... 🤝</div>
</Card>
