---
import { Github, Linkedin, Mail } from 'lucide-react'
import { LINKS } from '../../lib/constants'
import Card from '../Card.astro'
import { Button } from '../ui/button'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="flex h-full w-full">
    <div
      class="flex h-full w-full flex-col justify-between gap-4 md:max-h-[300px]"
    >
      <div class="flex flex-grow flex-col">
        <h6 class="m-0 text-2xl font-light text-gray-500">Welcome👋</h6>
        <p class="m-0 text-xl font-light">
          Hi, I'm <b class="font-bold">Adrian Guichard</b>, a self-taught
          developer seeking a work-study program to formalize my skills through
          a Bachelor’s degree in JavaScript React Application Development at
          OpenClassrooms. With experience in HTML, CSS, JavaScript/Typescript
          and frameworks like Next.js, Vue.js, React and Express, I have
          developed strong autonomy and adaptability. Motivated and curious, I’m
          eager to grow in a professional environment and contribute to your
          projects.
        </p>
      </div>
      <div class="mt-auto flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/photo.png"
      class="pointer-events-none absolute bottom-[-10px] right-[-100px] z-[-1] max-h-[350px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="memoji of Adrian Guichard"
    />
  </div>
</Card>
