---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex w-full items-start justify-between">
    <div class="bold-1 flex flex-col text-xl">
      <h2>
        <strong
          >Now <img
            src="/icons/search.png "
            alt="greeting emoji"
            class="mb-2 inline-block h-10 w-10"
          /></strong
        >
      </h2>
    </div>
    <Pulse />
  </div>
  <p class="text-sm">
    I'm currently looking for followers on Github, I promise to follow you back.
    💙
  </p>
</Card>
