---
import Card from '../Card.astro'
import TimeZoneV2 from './TimeZoneCardV2'
---

<Card colSpan="lg:col-span-3" rowSpan="md:row-span-1">
  <div class="bold-1 text-xl">
    <h2>
      <strong class="text-foreground"
        >Fuseau horaire<img
          src="/icons/clock.png"
          alt="Clock emoji"
          class="mb-2 ml-2 inline-block h-10 w-10"
        /></strong
      >
    </h2>
  </div>
  <hr />
  <div class="flex-grow">
    <TimeZoneV2 timezone="Europe/Paris" client:load />
  </div>
</Card>
