---
import BaseLayout from '../layouts/BaseLayout.astro'
import IntroCard from '../components/sections/IntroCard.astro'
import AboutMeCard from '../components/sections/AboutMeCard.astro'
import TimeZoneCard from '../components/sections/TimeZoneCard.astro'
import ContactsCard from '../components/sections/ContactsCard.astro'
import ObjectifsCard from '../components/sections/ObjectifsCard.astro'
import CVCard from '../components/sections/CVCard.astro'
import LearningCard from '../components/sections/LearningCard.astro'
import CitationCard from '../components/sections/CitationCard.astro'
import ExperienceCard from '../components/sections/ExperienceCard.astro'
import ProjectCard from '../components/sections/ProjectCard.astro'
//
---

<script>
  import { spring, stagger, timeline, type TimelineDefinition } from 'motion'
import { loaderAnimation } from '../lib/constants'

  const cards = document.querySelectorAll('.card-animate')

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ['40%', '0%'], opacity: [0, 1] },
      {
        at: '-0.1',
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ]

  timeline(sequence as TimelineDefinition)
</script>

<BaseLayout
  title="Adrian Guichard - Full Stack Developer"
  description="Adrian Guichard - Full Stack Developer - Portfolio, Projects, CV, About Me, Contact, Timezone, Now, Experience, Study"
>
  <div
    slot="loader"
    class="loader bg-darkslate-700 fixed bottom-0 left-0 right-0 top-0 z-50 flex h-screen w-screen items-center justify-center text-3xl font-black uppercase text-neutral-50"
  >
  </div>
  <main
    class="relative m-auto grid w-full max-w-6xl items-stretch gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-3 md:grid-rows-[repeat(auto-fill,minmax(180px,auto))] md:gap-3 md:p-6 lg:grid-cols-4 lg:grid-rows-[repeat(5,minmax(180px,auto))] lg:gap-4"
  >
    <IntroCard />
    <AboutMeCard />
    <CVCard />
    <ObjectifsCard />
    <ContactsCard />
    <LearningCard />
    <ExperienceCard />
    <ProjectCard />
    <CitationCard />
    <TimeZoneCard />
  </main>
</BaseLayout>
